<div class="container">
  <!-- Header -->
  <div class="header">
    <div class="title">GED</div>
    <div class="user">M. Khalil</div>
  </div>
  <h1>RH Documents</h1>
  <!-- Document Sections -->
  <div class="document-sections">
    <!-- Documents En Traitement Section -->
    <div class="section">
      <h3>Documents En Traitement</h3>
      <div *ngFor="let document of getPaginatedEnTraitement()" class="document">
        <span>{{ document.nomDoc }} - {{ document.nomClient }}</span>
        <button class="btn btn-primary btn-sm" (click)="closeWorkflow(document.id)">Clôture</button>
      </div>
      
      <div class="pagination">
        <button (click)="prevPageEnTraitement()" [disabled]="currentPageEnTraitement === 1">Précédent</button>
        <span>Page {{ currentPageEnTraitement }}</span>
        <button (click)="nextPageEnTraitement()" [disabled]="getPaginatedEnTraitement().length < documentsPerPage">Suivant</button>
      </div>
    </div>

    <!-- Documents Cloture Section -->
    <div class="section">
      <h3>Documents Clôturés</h3>
      <div *ngFor="let document of getPaginatedCloture()" class="document">
        <span>{{ document.nomDoc }} - {{ document.nomClient }}</span>
      </div>
      <div class="pagination">
        <button (click)="prevPageCloture()" [disabled]="currentPageCloture === 1">Précédent</button>
        <span>Page {{ currentPageCloture }}</span>
        <button (click)="nextPageCloture()" [disabled]="getPaginatedCloture().length < documentsPerPage">Suivant</button>
      </div>
    </div>
  </div>
</div>
