<div class="container">
  <h1>RH Documents</h1>
  <!-- Document Sections -->
  <div class="document-sections">
    <!-- Documents En Traitement Section -->
    <div class="section">
      <h3>Documents En Traitement</h3>
      <div *ngFor="let document of getPaginatedEnTraitement()" class="document">
        <a [routerLink]="['/document-detail', document.id]" class="document-link">
          <span>{{ document.nomDoc }} - {{ document.nomClient }}</span>
        </a>
        <button (click)="closeWorkflow(document.id)">Clôture</button> <!-- Red button -->
      </div>
      
      <div class="pagination">
        <button (click)="prevPageEnTraitement()" [disabled]="currentPageEnTraitement === 1">Précédent</button>
        <span>Page {{ currentPageEnTraitement }}</span>
        <button (click)="nextPageEnTraitement()" [disabled]="getPaginatedEnTraitement().length < documentsPerPage">Suivant</button>
      </div>
    </div>

    <!-- Documents Cloture Section -->
    <div class="section">
      <h3>Documents Clôturés</h3>
      <div *ngFor="let document of getPaginatedCloture()" class="document">
        <a [routerLink]="['/document-detail', document.id]" class="document-link">
          <span>{{ document.nomDoc }} - {{ document.nomClient }}</span>
        </a>
      </div>
      <div class="pagination">
        <button (click)="prevPageCloture()" [disabled]="currentPageCloture === 1">Précédent</button>
        <span>Page {{ currentPageCloture }}</span>
        <button (click)="nextPageCloture()" [disabled]="getPaginatedCloture().length < documentsPerPage">Suivant</button>
      </div>
    </div>
  </div>
</div>
