<app-header></app-header>
<br><br>
<div class="archive-container">
  <h1>Archive</h1>
  <!-- Search Bar -->
  <div class="search-bar">
    <input type="text" placeholder="Recherche par Code Unique" [(ngModel)]="searchCodeUnique">
    
    <!-- Replace input with select for searchType -->
    <select [(ngModel)]="searchType">
      <option value="">Tous les types</option> <!-- Option for selecting all types -->
      <option *ngFor="let type of documentTypes" [value]="type">{{ type }}</option>
    </select>
    
    <select [(ngModel)]="sort">
      <option value="desc">Date: Le plus récent d'abord</option>
      <option value="asc">Date: Le plus ancien d'abord</option>
    </select>
    <button (click)="onSearch()">Recherche</button>
  </div>
  
  <!-- Logo Section -->
  <div class="logo-section">
    <span class="material-icons logo" (click)="navigateTo('home')">home</span>
    <span class="material-icons logo" (click)="navigateTo('statistique')">bar_chart</span>
  </div>
  
  <!-- Document List -->
  <div class="document-list">
    <div *ngFor="let document of getPaginatedDocuments()" class="document">
      <a [routerLink]="['/document-detail', document.id]">
        <span>{{ document.dateCreation | date:'dd/MM/yy' }} | {{ document.nomDoc }} | {{ document.nomClient }}</span>
      </a>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * documentsPerPage >= archivedDocuments.length">Next</button>
  </div>
</div>
