.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100px; /* Increased from 50px to 60px */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #0077b6;
  margin-left: 70px;
}

.user-menu {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #0077b6;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.logout-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  color: red;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ffe6e6;
}
