<!-- confirmation-popup.component.html -->
<div class="popup-overlay">
    <div class="popup-content">
      <button class="close-button" (click)="closePopup()">X</button>
      <h3>Confirmation de l'Enregistrement du Dossier</h3>
      <p>Votre dossier a été enregistré avec succès !</p>
      <p>Merci d'avoir soumis votre dossier à la RADEEMA. Votre demande a été prise en compte et enregistrée dans notre système.</p>
      <p><strong>Numéro de dossier :</strong> <span class="dossier-number">{{ data.dossierNumber }}</span></p>
    </div>
  </div>
  