<app-header></app-header>
<br><br>
<div class="statistics-container">
  <!-- Logo Section -->
  <div class="logo-section">
    <span class="material-icons logo" (click)="navigateTo('home')">home</span>
    <span class="material-icons logo" (click)="navigateTo('archive')">archive</span>
  </div>

  <h2>Document Type Statistics</h2>
  
  <ngx-charts-pie-chart
    [view]="view"
    [results]="documentTypeData"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [doughnut]="false">
  </ngx-charts-pie-chart>
</div>
