
<app-header></app-header>
<br><br>
<div class="container">
  <div class="logo-section">
    <span class="material-icons logo" (click)="navigateTo('home')">home</span>
</div>
<br><br><br>
<div *ngIf="auditLogs.length > 0; else noLogs">
  <h2>Historique</h2>
  <table>
    <thead>
      <tr>
        <th>Action</th>
        <th>Entity</th>
        <th>Document Name</th> <!-- Updated this -->
        <th>Details</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of auditLogs">
        <td>{{ log.action }}</td>
        <td>{{ log.entity }}</td>
        <td>{{ log.documentName }}</td> <!-- Display document name -->
        <td>{{ log.details }}</td>
        <td>{{ log.timestamp | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noLogs>
  <p>No audit logs available for this user.</p>
</ng-template>
